.btn-transparent{
color: dimgrey;
width: 100px;
}
.section {
  padding-top: 80px;
  padding-bottom: 90px;

  /* &-sm-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  } */
  
}
.title {
    margin-bottom: 10px;
    font-size: 30px;
	margin-left: 300px;
	color: black;
  } 
  .mb-5 {
  margin-bottom: 5px !important;
}
 .section {
 	background-color: azure;
 }

 .form {
	display : none;

}

/* .form1{
	
} */